from sagemcom_api.enums import EncryptionMethod
from sagemcom_api.client import SagemcomClient
import json

HOST = '192.168.2.1'
USERNAME = 'admin'
PASSWORD = ''
ENCRYPTION_METHOD = EncryptionMethod.SHA512 # EncryptionMethod.MD5 or EncryptionMethod.SHA512
SSL = True
WIFI_RADIOS = ['RADIO2G4', 'RADIO5G', 'RADIO6G']
ADMZ_MAC = ''


async def modem() -> SagemcomClient:
    return SagemcomClient(
        host = HOST,
        username = USERNAME,
        password = PASSWORD,
        authentication_method = ENCRYPTION_METHOD,
        ssl = SSL,
        keep_keys = True,
    )

def dump(value) -> str:
    print(json.dumps(value, indent = 2))
